header {
    background: #4e4e4e;
    border-bottom: 2px solid;
}
.imgicone {
    display: block;
}
.caixa{
    width: 90%;
    max-width: 940px;
    position: relative;
    margin: 0 auto;
}
nav {
    position:absolute;
    top: 90px;
    right: 0;
}
 nav li{
     display: inline;
     margin: 0 0 0 20px;
 }
 nav a{
     text-transform: uppercase;
     color: #000000;
     font-weight: bold;
     font-size: 20px;
     text-decoration: none;
 }
 nav a:hover{
     color:aliceblue;
 }

h1{
    font-weight: bold;
    font-size: 1.5em;
    margin: 16px;

}

 table {
     margin: 25px;
     width: 95vw;
 }

 thead {
     font-weight: bold;
     background:#4e4e4e;
     color: white;
 }

 td, tr {
    border: 1px solid #000000;
    padding: 8px 15px;
    text-align: center;
    font-size: 1.2em;
 }


 