@import url('http://fonts.cdnfonts.com/css/montserrat');
header {
    border-bottom: 2px solid;
    margin-right: 0;
}
.imgicone {
    display: block;
    width: 100px;
    padding: 10px 0;
}
.caixa{
    width: 90%;
    max-width: 940px;
    position: relative;
    margin: 0 auto;
}
nav {
    position:absolute;
    top: calc(50% - 8px);
}
 nav li{
     display: inline;
     margin: 0 0 0 20px;
 }
 nav a{
     text-transform: uppercase;
     color: #000000;
     font-weight: bold;
     font-size: 15px;
     text-decoration: none;
 }
 nav a:hover{
     color:aliceblue;
 }

 h2 {
     font-weight: bold;
     font-size: 25px;
     padding: 10px 0;
     margin: 0 0 0 25px;
 }

 .main1 p {
     margin: 0 20px;
     padding: 35px 0;
     font-size: 20px;
 }



/* FOOTER */

 footer {
    background: #4e4e4e;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid black;
    font-family: 'Montserrat', sans-serif;
 }
 footer p {
     text-align: center;
     color: #FFFFFF;
     padding: 10px 0;
 }

 .sociais {
     display: flex;
     margin: 10px 0;

 }

 .sociais a:hover {
    color: black;
 }

 .sociais a i:hover {
    color:rgb(131, 131, 131);
 }

 .sociais a {
    background: #FFFFFF;
    border-radius: 50%;
    margin: 0 10px;
    color: black;
    position: relative;
    height: 50px;
    width: 50px;
 }

 .sociais a i {
    font-size: 23px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: -12px;
    text-align: center;
 }

 /* ARTES */



 h3 {
     padding: 25px 0;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.caixa-fotos {
    position: relative;

}

.imagens-lista{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    
}

main li {
    display: inline-block;
    margin-bottom: 55px;
}



/* PREÇOS */


.tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 940px;
    max-width: 90%;
}

h1{
    font-weight: bold;
    font-size: 1.5em;
    margin: 16px;

}

 table {
     margin: 25px;
     width: 95vw;
 }

 thead {
     font-weight: bold;
     background:#4e4e4e;
     color: white;
 }

 td, tr {
    border: 1px solid #000000;
    padding: 8px 15px;
    text-align: center;
    font-size: 1.2em;
 }

#imagens-preco {
    display: flex;
    justify-content: space-around;
    margin: 0 5px;
    padding: 0 0 20px 0;
}

#imagens-preco p {
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}

#imagens-preco > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .ex {
    height: 220px;
    width: 220px;
    border: 2px solid black;
}

.imagens-preco p {
    display: none;
}

/* CONTATOS */

.inputs {
    padding: 18px;
}

form label {
    padding: 10px 0;
    display: block;
}

.form-check label {
    padding: 0;
}

.form-check * {
    cursor: pointer;
}

.button {
    margin: 1em 0 0 0;
    width: 25vw;
    display: block;
    border-radius: 5px;
}

.text-area {
    width: 40%;
    height: 150px;
    resize: none;
}

#btsubmit {
    margin: 0 auto;
    display: block;
}



