header {
    background: #4e4e4e;
    border-bottom: 2px solid;
}
.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav {
    position:absolute;
    top: 90px;
    right: 0;
}
 nav li{
     display: inline;
     margin: 0 0 0 20px;
 }
 nav a{
     text-transform: uppercase;
     color: #000000;
     font-weight: bold;
     font-size: 20px;
     text-decoration: none;
 }
 nav a:hover{
    color:aliceblue;
 }
 main{
     background: #a0a0a0a0;
     position: absolute;
 }
 h3 {
     margin: 25px 0;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.caixa-fotos {
    position: relative;

}

.imagens-lista{
    position: relative;

}

main li {
    display: inline-block;
    margin-left: 105px;
    margin-bottom: 55px;
}

@media (max-width: 1280px){
    main li {
        
    }
}
